# 忽略模型文件夹
llama-3-12b-local/
llama3_lora_finetuned/
Meta-Llama-3-8B/
meta_llama_3_8B2/

# 忽略临时文件夹
offload/
offload2/
lora_output/
lora_output2/
lora_output3/
lora_function_calling/
function_call1/
function_call2/
function_call3/
DeepSeek-R1-Distill-Llama-8B/

# 忽略数据集
Datasets/qna-dataset-farmgenie-soil-v2.csv